.container-task-list {
  display: flex;
  height: 100%;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.ant-input {
  width: 15px;
  height: 15px;
  border-radius: 10px;
  /* margin-right: 1800px; */
  ;
}
 button {
   width: 30px;
   height: 30px;
   margin-top: 30px;
 }
.container-tab {
  justify-content: flex-end;
}

.ant-tabs-nav-wrap {
  justify-content: flex-end;
}

.container-show-task{
    display: flex;
    flex-direction: row;

}
.divTodo{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    padding: 20px 15px 20px 0px;
    margin-left: 20px;
    margin-right: 50px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-image: initial;
    margin-bottom: 20px;
    border-left: 3px solid blue;
    padding-left: 20px;
}
.divTodoHeader{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.input-add input{
    font-size: 14px;
   margin-top: 20px;
    font-weight: 400;
    color: rgb(151, 151, 151);
    line-height: inherit;
    height: 50px;
    width: 80%;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
    padding: 0px 15px;
    /* margin-left: 100px; */
    border-width: 1px;
    border-style: solid;
    border-color: rgb(233, 233, 233);
    border-image: initial;
    overflow: hidden;
    border-radius: 3px;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    outline: 0px !important;
}

.anticon > * {
    line-height: 1;
    margin-bottom: 30px;
}

.ant-radio-group {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  /* margin-left: 100px; */
  padding: 0;
  color: rgba(0,0,0,.65);
  font-size: 24px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum","tnum";
  display: inline-block;
  line-height: unset;
}

.ant-radio-group label{
  top: 10px;
  margin-left: -200px;
}

.divTodo .text-area{
  width: 1200px;
  height: 50px;
}
.icon-checkbox{
  align-items: flex-start;
  width: 10px;
  height: 10px;
}

.input-checkbox{
  margin-right: 1400px;
}

.ant-btn {
  margin-right: 10px;
  padding-left: -2px;
  padding-top: 7px;
}
.btnIcon {
  margin-right: 14px;
  width: 54px;
}
.container-tabs{
  font-size: 14px;
 margin-top: 10px;
  font-weight: 400;
  color: rgb(151, 151, 151);
  line-height: inherit;
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 0px 15px;
  /* margin-left: 100px; */
  border-width: 1px;
}